{% extends "base.html" %}
{% block content %}
    <h1>About</h1>
    <p>The purpose of this website is to recommend documents which are most similar to a given query.
         The query can be of any size – from a few word to an entire Wikipedia article.
         The system uses the 20Newsgroups corpus which consists of around 18,000 documents.
         It will attempt to find documents from this corpus most relevant to a query and return them.
</p>

<h3>For more information about each algorithm, click the links bellow:</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Tf%E2%80%93idf">TF-IDF</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Latent_semantic_analysis">LSA</a></li>
  <li><a href="https://medium.com/wisio/a-gentle-introduction-to-doc2vec-db3e8c0cce5e">Doc2Vec</a></li>
</ul>

<h3>For more information about the measurement methods, click the links bellow:</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Cosine_similarity">Cosine similarity</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Euclidean_distance">Euclidean distance</a></li>
</ul>
{% endblock %}
