{% extends "base.html" %}

{% block content %}

    <h1>Universal Document Recommender</h1>
    <div id="loading" style="display:none;"><img src="/static/loading.gif" alt="" /></div>
    <div class="entry-form">
        <form method="post">
            <dl>

                <dt>Choose an algorithm:</dt>
                <div class="radio-toolbar">
                    {% for subfield in form.algorithm %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}
                </div>

                <dt>Choose a distance calculation method:</dt>
                <div class="radio-toolbar">
                    {% for subfield in form.measurement %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}
                </div>
                <label for="showTextBox">Direct text entry:</label>
                {{ form.showTextBox(onclick="myFunction()") }}
                <div id = "query-text">
                <dt>Enter query text:</dt>
                <dd>{{ form.query(rows='20', cols='60') }}</dd>
                    </div>

                 <div id = "query-url">
                      <dt>Enter query url:</dt>
                <dd>{{ form.query_url(size='50', value='https://en.wikipedia.org/wiki/Medicine') }}</dd>
                 </div>
                <dt>choose number of documents to receive (from most to least relevant):</dt>
                <dd>{{ form.num }}</dd>
				 <label for="showEvaluation">Evaluation mode:</label>
				 {{ form.eval_select(onclick="myFunction2()") }}
				<div id = "evaluation">
				 <dt>Select the category which best fits document(for evaluation purposes):</dt>
                <dd>{{ form.category }}</dd>
				</div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            </dl>
            <input type="submit" value="Search" onclick="$('#loading').show();">
        </form>
    </div>

{% endblock %}