{% extends "base.html" %}

{% block content %}
    <h1>Universal Document Recommender</h1>
    <form method="post">
        <dl>
            <dt>Choose an algorithm:</dt>
            <dd>{{ form.algorithm }}</dd>
            <dt>Choose a distance calculation method:</dt>
            <dd>{{ form.measurement }}</dd>
            <dt>Enter query text:</dt>
            <dd>{{ form.query(rows='20', cols='60') }}</dd>
            <dt>Select the category which best fits document:</dt>
            <dd>{{ form.category }}</dd>
            <dt>choose number of documents to receive (from most to least relevant):</dt>
             <dd>{{ form.num }}</dd>
        </dl>
        <input type="submit">
    </form>
{% endblock %}